@import "compass";

// universals
// --------------------------------------------

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-left: 5px;
  padding-right: 5px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  //background-image: url("/static/img/SPFY-logo.jpg");
}

.header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 1.5;
    font-size: 30px;
    border-bottom: #EEE solid 1px;
}

.hidden {
    display: none;
}

.sidebar {
    width: 200px;
    height: 300px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.menuButton {
    background-color: #09F;
    border: none;
    margin: 5px;
    color: #FFF;
    width: 60px;
    height: 35px;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: green;
  height: 10px;
  width: 10px;
  margin: 0 2px;
}

.dot-success {
  background-color: green;
}

.former-switch .former-switch-container{
  cursor:pointer;
  display:inline-block;
  position:relative;
  vertical-align:middle
}
  .former-switch input {
    height:24px;
    left:0;
    opacity:0;
    pointer-events:none;
    position:absolute;
    top:0;
    width:44px;
    z-index:0
  }

  .former-switch .former-switch-display {
    -webkit-transition:all .5s cubic-bezier(.19,1,.22,1);
    transition:all .5s cubic-bezier(.19,1,.22,1);
    background:#ccc;
    border-radius:12px;
    height:24px;
    position:relative;
    width:44px;
    z-index:1
  }

.former-switch .former-switch-display:after,.former-switch .former-switch-display:before {
  border-radius:11px;
  content:'';
  display:block;
  height:22px;
  position:absolute
}

.former-switch .former-switch-display:before {
  -webkit-transform:translate(1px,1px) scale(1);
  transform:translate(1px,1px) scale(1);
  -webkit-transition:all 1s cubic-bezier(.19,1,.22,1);
  transition:all 1s cubic-bezier(.19,1,.22,1);
  background:#f9f9f9;
  width:42px
}

.former-switch .former-switch-display:after {
  -webkit-transform:translate(1px,1px);
  transform:translate(1px,1px);
  -webkit-transition:all .5s cubic-bezier(.19,1,.22,1);
  transition:all .5s cubic-bezier(.19,1,.22,1);
  background:#fff;
  box-shadow:0 1px 3px rgba(0,0,0,.5);
  width:22px
}

.former-switch .former-switch-display:active {
  background:#ccc
}

.former-switch .former-switch-display:active:after {
  width:26px
}

.former-switch .former-switch-display:active:before,.former-switch.former-switch-active .former-switch-display:before {
  -webkit-transform:translate(1px,1px) scale(0);
  transform:translate(1px,1px) scale(0)
}

.former-switch.former-switch-active .former-switch-display {
  background:#02aef0;
  border-color:#02aef0;
}

.former-switch.former-switch-active .former-switch-display:active:after {
  -webkit-transform:translate(17px,1px);
  transform:translate(17px,1px)
}

.former-switch.former-switch-active .former-switch-display:after {
  -webkit-transform:translate(21px,1px);
  transform:translate(21px,1px)
}
