@import "compass";

// universals
// --------------------------------------------

.container { // hopefully a temporary fix
  width: 90%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-left: 5px;
  padding-right: 5px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 1.5;
    font-size: 30px;
    border-bottom: #EEE solid 1px;
}

.hidden {
    display: none;
}

.sidebar {
    width: 200px;
    height: 300px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.menuButton {
    background-color: #09F;
    border: none;
    margin: 5px;
    color: #FFF;
    width: 60px;
    height: 35px;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: grey;
  height: 15px;
  width: 15px;
  margin: 0 2px;
}
.dot-success {
  background-color: green;
}