#clientname {
  font-size: 20px;
}
/*#clients thead {
  width: 97%;
}*/
#clients tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}
#clients thead, #clients tbody, #clients tr, #clients td, #clients th {
  display: block;
}
/*#clients tbody td, #clients thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/

/*these are temporary*/
/*.dot:before {
    content: "• ";
    font-size: 10px;
    color: green;
}
.okay-dot:before {
  content: "• ";
  font-size: 20px;
  color: green;
}
.missing-dot:before {
  content: "• ";
  font-size: 20px;
  color: blue;
}
.sick-dot:before {
  content: "• ";
  font-size: 20px;
  color: orange;
}
.vulnerable-dot:before {
  content: "• ";
  font-size: 20px;
  color: purple;
}
.dangerous-dot:before {
  content: "• ";
  font-size: 20px;
  color: red;
}*/

.steven-photo {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

#clientInfoTable td {
  width: 150px;
}

.ageWarning { 
  color: red; 
}

#identifyingFeatures {
  width: 400px;
  height: 100px;
}