@import "../modules/_sizing";
@import "../modules/_colors";

footer.page-footer {
  background-color: $spfy-blue;
}

#footer-links li {
  float: left;
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
