@import "../modules/_sizing";
@import "../modules/_colors";

#footer-links li {
  float: right;
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

// // small screen only
// @media screen and (max-width: $small) {
//   .footer-block {
//     height: $sm-footer; /* Height of the footer element */
//   }

//   #content {
//     padding-bottom: $sm-footer; /* to prevent cutting off content */
//   }
// }

// // medium screen only
// @media screen and (max-width: $medium) and (min-width: $small) {
//   .footer-block {
//     height: $md-footer; /* Height of the footer element */
//   }

//   #content {
//     padding-bottom: $sm-footer; /* to prevent cutting off content */
//   }
// }

// // large screen only
// @media screen and (min-width: $medium) {
//   .footer-block {
//     height: $lg-footer; /* Height of the footer element */
//   }

//   #content {
//     padding-bottom: $sm-footer; /* to prevent cutting off content */
//   }
// }
