img#big-logo {
    width: 90%;
    height: auto;
}

#bubbles{
    padding: 80px 0;
}

.space{
    margin-top: 40px;
}

#bubbles i.fa {
    font-size: 40px;
    border: 4px solid $spfy-blue;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

#bubbles i.fa.fa-mobile{
    font-size: 50px;
    padding: 20px 25px;
}

#bubbles .bubble:hover>i.fa{
    background: $spfy-blue;
    color: #ffffff;
}

#bubbles i.fa:hover{
    background: $spfy-blue;
    color: #ffffff;
}