   <!-- Add Activity Modal -->
   <div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <center>
            <h4 class="modal-title" id="myModalLabel">Add New Activity</h4>
            </center>
          </div>
          <div class="modal-body">
            <div class="col-xs-4">
              <h6 class="text-center">Health & Wellness Programs</h6>
              <div class="well" style="max-height: 400px;overflow: auto;">
               <!-- <a href="#" class="list-group-item"><span class="fa fa-plus" aria-hidden="true"></span> New Activity</a> -->
               <!-- SHOWERS EXAMPLE: add, allow time slot -->
                <div class="list-group activities-add" data-category="health">
                  <button type="button" class="list-group-item list-group-item-action">Medical</button>
                  <button type="button" class="list-group-item list-group-item-action">Dental</button>
                  <button type="button" class="list-group-item list-group-item-action">HIV Testing</button>
                  <button type="button" class="list-group-item list-group-item-action">Medi-Cal Registration</button>
                  <button type="button" class="list-group-item list-group-item-action">Counseling</button>
                  <button type="button" class="list-group-item list-group-item-action">Creative Expression</button>
                  <button type="button" class="list-group-item list-group-item-action">Mindfulness</button>
                  <button type="button" class="list-group-item list-group-item-action">Yoga</button>
                  <button type="button" class="list-group-item list-group-item-action">Creative Writing</button>
                  <button type="button" class="list-group-item list-group-item-action">Drumming</button>
                  <button type="button" class="list-group-item list-group-item-action">Music</button>
                  <button type="button" class="list-group-item list-group-item-action">Substance Abuse Support</button>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <h6 class="text-center">Education & Employment</h6>
              <div class="well" style="max-height: 400px;overflow: auto;">
                <!-- <a href="#" class="list-group-item"><span class="fa fa-plus" aria-hidden="true"></span> New Activity</a> -->
              <div class="list-group activities-add" data-category="art">
                    <button type="button" class="list-group-item list-group-item-action">Digital Arts Lab</button>
                    <button type="button" class="list-group-item list-group-item-action">Experiential Learning</button>
                    <button type="button" class="list-group-item list-group-item-action">Five Keys Charter School</button>
                    <button type="button" class="list-group-item list-group-item-action">West LA College Tour</button>
                    <button type="button" class="list-group-item list-group-item-action">East LA School Fair</button>
                    <button type="button" class="list-group-item list-group-item-action">Resume Development</button>
                    <button type="button" class="list-group-item list-group-item-action">Job Search</button>
                    <button type="button" class="list-group-item list-group-item-action">Career Assessment</button>
                    <button type="button" class="list-group-item list-group-item-action">Mock Interviews</button>
                    <button type="button" class="list-group-item list-group-item-action">Job Certification</button>
                    <button type="button" class="list-group-item list-group-item-action">Job Fair</button>
                    <button type="button" class="list-group-item list-group-item-action">Life Skills Program</button>
                  </div>
              </div>
            </div>
            <div class="col-xs-4">
              <h6 class="text-center">Other</h6>
              <div class="well" style="max-height: 400px;overflow: auto;">
                <!-- <a href="#" class="list-group-item"><span class="fa fa-plus" aria-hidden="true"></span> New Activity</a> -->
                  <div class="list-group activities-add" data-category="other">
                    <button type-"button" class="list-group-item list-group-item-action">Legal</button>
                    <button type-"button" class="list-group-item list-group-item-action">Case Management</button>
                  </div>
              </div>
              <!-- <div id="dropin-feedback"> </div> -->
            </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="create-thumbnail" data-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div> <!-- Add Activity Modal -->