<div class="modal fade" id="newDropInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center>
        <h4 class="modal-title" id="myModalLabel">Create New Drop-In</h4>
        </center>
      </div>
      <div class="modal-body">
        <label for="dropin-date-input" class="col-xs-2 col-form-label">Drop-In Date</label>
        <div class="col-xs-10">
          <input class="form-control" type="date" value="2011-08-19" id="dropin-date-input">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-primary" id="create-dropin" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div> 