{% include "components/_header.html" %}

  <div class="container">

		{% include "components/_navbar.html" %}

	  <div id="addClientContent">
	  
	  </div>

		<!--
			<form>
			  <div class="form-group">
			    <label for="clientFirstName">Client Name</label>
			    <input type="name" class="form-control" id="clientFirstName" placeholder="First Name">
			    <input type="name" class="form-control" id="clientLastName" placeholder="Last Name">
			    <input type="name" class="form-control" id="clientNickName" placeholder="Nick Name (optional)">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" id="exampleInputFile">
			    <p class="help-block">Example block-level help text here.</p>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox"> Check me out
			    </label>
			  </div>
			  <button type="submit" class="btn btn-secondary">Submit</button>
			</form>
		 -->

	</div>

{% include "components/_basescript.html" %}

<script type="text/babel" src="static/js/modals/addnewclient.js"></script>

{% include "components/_footer.html" %}