   <!-- Create New Activity Modal -->
   <div class="modal fade" id="createactivity-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create New Activity</h4>
          </div>
          <div class="modal-body">
            Activity Name: <input type="text" id="createActivityName"> <br>
            Location: <input type="text" id="createActivityLocation">  <br>
            Start Time: <input type="text" id="createActivityStart" data-format="h:mm a" data-template="hh : mm a" name="datetime" value="12:00 am"> <br>
            End Time: <input type="text" id="createActivityEnd" data-format="h:mm a" data-template="hh : mm a" name="datetime" value="12:00 am"> <br>
            Program: 
            <select id="createActivityPrograms" name="programs" value="select">
              <option value="0">Select a Program</option>
            </select> <br>
            <span class="activityWarning warning hidden">Your activity must have a name, location, and program.</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="createactivity-modal-save-button">Submit</button>
          </div>
        </div>
      </div>
    </div> <!-- Create New Activity Modal -->