<div class="modal fade" id="edit-followup-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Edit Follow Up
      </div>
      <div class="modal-body">
        {% include "components/_editfollowup.html" %}

        <div id="content">

        </div>

        <button type="button" id="edit-followup-submit" class="btn btn-outline-primary">Save</button>
      </div>
    </div>
  </div>
</div>