   <!-- New Flag Modal -->
   <div class="modal fade" id="new-flag-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create New Flag</h4>
          </div>
          <div class="modal-body">
            <form>
              <input type='text' id="flag-custom-color" />
              <input type='text' id="flag-type" placeholder="Flag Type"/>
              <input type='text' id="flag-message" placeholder="Flag Message"/>
              <textarea class="form-control" rows="5" id="flag-note" placeholder="Flag Note"></textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-outline-primary" id="flag-submit-button">Submit</button>
          </div>
        </div>
      </div>
    </div> <!-- New Flag Modal -->