   <!-- New Flag Modal -->
   <div class="modal fade" id="new-flag-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create New Flag</h4>
          </div>
          <div class="modal-body">
            <form>
              <!-- <input type='color' name='color' id="flag-custom-color" /> future implementation, uses browser's color picker (js for this would be .on('input', function()) handler) -->
              <input type='text' id="flag-custom-color" />
              <input type='text' id="flag-name" placeholder="Flag Name"/>
              <input type='text' id="flag-message" placeholder="default message"/>
              <input type='text' id="flag-note" placeholder="default note"/>
              <input type="checkbox" id="defaultflag-dot">Color Dot</input>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-outline-primary" id="newflag-submit-button">Submit</button>
          </div>
        </div>
      </div>
    </div> <!-- New Flag Modal -->