$spfy-blue: rgb(2, 174, 240); // #02AEF0
$button-border: rgb(0, 118, 163); // #0076A3

$boot-blue: rgb(23, 116, 221) !important;
$boot-green: rgb(106, 184, 83) !important;
$boot-cyan: rgb(104, 192, 224) !important;
$boot-orange: rgb(236, 174, 64) !important;
$boot-red: rgb(210, 84, 77) !important;
