@import "compass/css3/background-size";

// universal variables
// ------------------------------------------------------------

// screen size breakpoints
$small: 767px;
$medium: 1024px;
$large: 1440px;

// font-sizes
$h1-size: 60px;
$h2-size: 50px;
$h3-size: 37px;
$h4-size: 27px;
$h5-size: 19px;

$ptdablilit-size: 15px; //p, td, a, button, label, input, li, textarea
$th-size: 17px;

// footer heights
$sm-footer: 92px;
$md-footer: 63px;
$lg-footer: 50px;

// functions
// ------------------------------------------------------------

@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}