{% include "components/_header.html" %}

    <div class="container">

      {% include "components/_navbar.html" %}

      <div class="row">

        <div class="form-group row">
          <label for="client-id" class="col-xs-2 col-form-label">Client ID</label>
          <div class="col-xs-2">
            <input type="number" placeholder="1" id="client-id" min="1">
          </div>
          <label for="case-manager-id" class="col-xs-2 col-form-label">Case Manager ID</label>
          <div class="col-xs-2">
            <input type="number" placeholder="1" id="case-manager-id" min="1">
          </div>
        </div>
        <div class="form-group row">
          <label for="date" class="col-xs-2 col-form-label">Date</label>
          <div class="col-xs-2">
            <input type="text" placeholder="mm/dd/yy" id="date">
          </div>
          <label for="category" class="col-xs-2 col-form-label">Category</label>
          <div class="col-xs-2">
            <input type="text" placeholder="CM" id="category">
          </div>
        </div>
        <!-- <div class="form-group row">
          <label for="case-manager" class="col-xs-2 col-form-label">Case Manager</label>
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Name <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Jeanine Espejo-Watkins</a></li>
              <li><a href="#">Ben Perkins</a></li>
              <li><a href="#">Rob Hanna</a></li>
              <li><a href="#">Rebecca McGuire</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div> -->
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">Case Notes</label>
          <div class="col-xs-12">
          <textarea id="note" class="form-control" rows="10"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="checkbox">
          <label><input name="followup-checkbox" id="followup-checkbox" type="checkbox" value="">Follow-up Needed</label>
        </div>
        <div class="row" id="followup-area">

        </div>
      </div>

      <div id="content">

      </div>

      <button type="button" id="submit" class="btn btn-primary">Submit</button>
    </div>

{% include "components/_basescript.html" %}

        <script src="/static/js/casenotepage.js"></script>
        
{% include "components/_footer.html" %}
