{% include "components/_header.html" %}

    <div class="container">

      {% include "components/_navbar.html" %}

      <div class="row">

        <div class="row">
          <div class="input-field col s2">
            <input type="text" placeholder="mm/dd/yy" id="example-text-input">
            <label for="example-text-input">Date</label>
          </div>
        </div>
        <div class="row">
          <label for="example-search-input" class="col s2">Case Manager</label>
          <!-- Dropdown Trigger -->
          <a class="dropdown-button btn" id="dropdownMenuButton" href="#" data-activates="dropdown1" aria-haspopup="true" aria-expanded="false">Name <i class="right fa fa-sort-down drop-arrow"></i></a>

          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#">Jeanine Espejo-Watkins</a></li>
            <li><a href="#">Ben Perkins</a></li>
            <li><a href="#">Rob Hanna</a></li>
            <li><a href="#">Rebecca McGuire</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="input-field col s2">
            <textarea id="notes" rows="10"></textarea>
            <label for="notes">Case Notes</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s2 checkbox">
          <input id="followup-checkbox" name="followup-checkbox" type="checkbox" value="">
          <label for="followup-checkbox">Follow-up Needed</label>
        </div>
        <div class="row" id="followup-area">

        </div>
      </div>

      <div id="content">

      </div>
    </div>

{% include "components/_basescript.html" %}

        <script src="/static/js/casenotepage.js"></script>
        
{% include "components/_footer.html" %}
