{% include "helpers/_header.html" %}

<div class="container">

  {% include "helpers/_navbar.html" %}

    <div class="row">
        <div class="col-sm-2">
          
          {% include "helpers/_clientprofiletable.html" %}

        </div>


        <div class="col-sm-8">

        
          
            {% include "helpers/_viewclient.html" %} 
          
          
         <!-- inner row -->

        </div> <!--col-sm-8-->

        <div class="col-sm-2">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4>
                  Checked-In Today
                </h4>
                <span class="dot dot-success"></span>
                <input id="client-search" type="text" class="form-control input-sm" maxlength="128" placeholder="Search" />
                <!-- We need a `dot-pending` class for when the client list is still loading -->
              </div> <!-- panel heading -->
              <table id="clients" class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span id="steven-dot" class="bullet"></span>Steven Brown</td>
                  </tr>
                  <tr>
                    <td><span class="bullet"></span>John Doe</td>
                  </tr>
                  <tr>
                    <td><span class="bullet"></span>Megan McMire</td>
                  </tr>
                  <tr>
                    <td><span id="carlie-dot" class="bullet"></span>Carlie Smith</td>
                  </tr>
                  <tr>
                    <td><span id="mike-dot" class="bullet"></span>Mike Adams</td>
                  </tr>
                  <tr>
                    <td><span class="bullet"></span>Jose Jimenez</td>
                  </tr>
                  <tr>
                    <td><span class="bullet"></span>Amy Scott</td>
                  </tr>
                  <tr>
                    <td><span id="andre-dot" class="bullet"></span>Andre Evans</td>
                  </tr>
                  <tr>
                    <td><span class="bullet"></span>Alex Sandoval</td>
                  </tr>
                </tbody>
              </table>
          </div> <!-- panel default -->
        </div>
      </div> <!--outer row-->


    </div> <!--container-->

    <div id="content">

    </div>

{% include "helpers/_basescript.html" %}

    <script src="/static/js/casemanager.js"></script>
    <script src="/static/js/helpers/clientprofiletable.js"></script>
    <script src="/static/js/helpers/viewclient.js"></script>

{% include "helpers/_footer.html" %}
