{% include "components/_header.html" %}

<div class="container">

  {% include "components/_navbar.html" %}

    <div class="row">
        <div class="col-sm-2">
          
          {% include "components/_clientprofiletable.html" %}

        </div>


        <div id="view-client-tabs" class="col-sm-8 hidden">

            {% include "components/_viewclient.html" %}

        </div> <!--col-sm-8-->

        
    </div> <!--outer row-->


</div> <!--container-->

{% include "components/_basescript.html" %}

    <script src="/static/js/casemanager.js"></script>
    <script src="/static/js/components/clientprofiletable.js"></script>
    <script src="/static/js/components/viewclient.js"></script>

{% include "components/_footer.html" %}
