    {% include "components/_header.html" %}

    <!-- make this header highlight the frontdesk selection -->
    {% include "components/_navbar.html" %} 

    <div class="row">
      <center>
        <h3> Create New Drop In </h3> <br>
        <div class="form-group">
          <input type="text" placeholder="Enter Drop-In Date YYYY-MM-DD" size="30"> 
          <h4> Select Programs </h4>
        </div>
      </center>
      <div class="col-xs-4">
        <h6 class="text-center">Health & Wellness Programs</h6>
        <div class="well" style="max-height: 400px;overflow: auto;">
          <a href="#" class="list-group-item"><span class="fa fa-plus" aria-hidden="true"></span> New Program</a>
           <!-- SHOWERS EXAMPLE: add, allow time slot -->
          <ul class="list-group checked-list-box" id="activities1">
            <li class="list-group-item">Medical</li>
            <li class="list-group-item">Dental</li>
            <li class="list-group-item">HIV Testing</li>
            <li class="list-group-item">Medi-Cal Registration</li>
            <li class="list-group-item">Counseling</li>
            <li class="list-group-item">Creative Expression</li>
            <li class="list-group-item">Mindfulness</li>
            <li class="list-group-item">Yoga</li>
            <li class="list-group-item">Creative Writing</li>
            <li class="list-group-item">Drumming</li>
            <li class="list-group-item">Music</li>
            <li class="list-group-item">Substance Abuse Support</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4">
        <h6 class="text-center">Education & Employment</h6>
        <div class="well" style="max-height: 400px;overflow: auto;">
          <a href="#" class="list-group-item"><span class="fa fa-plus" aria-hidden="true"></span> New Program</a>
          <ul class="list-group checked-list-box" id="activities2">
            <li class="list-group-item">Digital Arts Lab</li>
            <li class="list-group-item">Experiential Learning</li>
            <li class="list-group-item">Five Keys Charter School</li>
            <li class="list-group-item">West LA College Tour</li>
            <li class="list-group-item">East LA School Fair</li>
            <li class="list-group-item">Resume Development</li>
            <li class="list-group-item">Job Search</li>
            <li class="list-group-item">Career Assessment</li>
            <li class="list-group-item">Mock Interviews</li>
            <li class="list-group-item">Job Certification</li>
            <li class="list-group-item">Job Fair</li>
            <li class="list-group-item">Life Skills Program</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4">
        <h6 class="text-center">Other</h6>
        <div class="well" style="max-height: 400px;overflow: auto;">
          <a href="#" class="list-group-item"><span class="fa fa-plus" aria-hidden="true"></span> New Program</a>
          <ul class="list-group checked-list-box" id="activities3">
            <li class="list-group-item">Legal</li>
            <li class="list-group-item">Case Management</li>
          </ul>
        </div>
        <button type="button" class="btn btn-secondary" id="createdropin">Create</button>
         <!-- needs to just close instead of submit -->
        <button type="button" class="btn btn-secondary">Cancel</button>
        <center>
          <div id="dropin-feedback">

          </div> 
        </center>
      </div>
    </div>  

    {% include "components/_basescript.html" %}

    <script src="/static/js/frontdesk.js"></script>
    <script src="/static/js/components/enrollment.js"></script>
    <script src="/static/js/adddropin.js"></script>

    {% include "components/_footer.html" %}