{% include "components/_header.html" %}

    <div class="container">

      <!-- make this header highlight the frontdesk selection -->
      {% include "components/_navbar.html" %} 

        <div class="row">
              <h3> Create New Drop In </h3>
                <div class="input field">
                  <input id="date" class="validate" type="text" placeholder="Enter Drop-In Date YYYY-MM-DD" size="30"> 
                  <label for="date"> Select Programs</label>
                </div>
                <div class="col s4">
                  <h6 class="text-center">Health & Wellness Programs</h6>
                  <div class="well" style="max-height: 400px;overflow: auto;">
                   <a href="#" class="list-group-item"><i class="fa fa-plus" aria-hidden="true"></i> New Program</a>
                   <!-- SHOWERS EXAMPLE: add, allow time slot -->
                  <ul class="list-group checked-list-box" id="activities1">
                        <li class="list-group-item">Medical</li>
                        <li class="list-group-item">Dental</li>
                        <li class="list-group-item">HIV Testing</li>
                        <li class="list-group-item">Medi-Cal Registration</li>
                        <li class="list-group-item">Counseling</li>
                        <li class="list-group-item">Creative Expression</li>
                        <li class="list-group-item">Mindfulness</li>
                        <li class="list-group-item">Yoga</li>
                        <li class="list-group-item">Creative Writing</li>
                        <li class="list-group-item">Drumming</li>
                        <li class="list-group-item">Music</li>
                        <li class="list-group-item">Substance Abuse Support</li>
                      </ul>
                  </div>
                </div>
                <div class="col s4">
                  <h6 class="text-center">Education & Employment</h6>
                  <div class="well" style="max-height: 400px;overflow: auto;">
                    <a href="#" class="list-group-item"><i class="fa fa-plus" aria-hidden="true"></i> New Program</a>
                  <ul class="list-group checked-list-box" id="activities2">
                        <li class="list-group-item">Digital Arts Lab</li>
                        <li class="list-group-item">Experiential Learning</li>
                        <li class="list-group-item">Five Keys Charter School</li>
                        <li class="list-group-item">West LA College Tour</li>
                        <li class="list-group-item">East LA School Fair</li>
                        <li class="list-group-item">Resume Development</li>
                        <li class="list-group-item">Job Search</li>
                        <li class="list-group-item">Career Assessment</li>
                        <li class="list-group-item">Mock Interviews</li>
                        <li class="list-group-item">Job Certification</li>
                        <li class="list-group-item">Job Fair</li>
                        <li class="list-group-item">Life Skills Program</li>
                      </ul>
                  </div>
                </div>
                <div class="col s4">
                  <h6 class="text-center">Other</h6>
                  <div class="well" style="max-height: 400px;overflow: auto;">
                    <a href="#" class="list-group-item"><i class="fa fa-plus" aria-hidden="true"></i> New Program</a>
                  <ul class="list-group checked-list-box" id="activities3">
                        <li class="list-group-item">Legal</li>
                        <li class="list-group-item">Case Management</li>
                      </ul>
                  </div>
                  <button type="button" class="btn waves-effect waves-light" id="createdropin">Create</button>
                   <!-- needs to just close instead of submit -->
                  <button type="button" class="btn waves-effect waves-light">Cancel</button>
                  <div id="dropin-feedback"> </div>
                </div>
            </div>
        </div>
           

{% include "components/_basescript.html" %}

    <script src="/static/js/frontdesk.js"></script>
    <script src="/static/js/components/enrollment.js"></script>
    <script src="/static/js/adddropin.js"></script>

{% include "components/_footer.html" %}