    {% include "components/_header.html" %}

    {% include "components/_navbar.html" %}

    <div id="bubbles" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>What would you like to do?</h2>
          <div class="line">
              <hr>
          </div>
          <div class="clearfix"></div>
          <p><em>Welcome to the SPY adminstrative hub.</em></p>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-5 col-sm-offset-1 col-md-offset-0 bubble">
                <a href="frontdesk"><i class="fa fa-dashboard"></i></a>
                <h4>Front Desk</h4>
                <p>Front desk operations</p>
            </div>

            <div class="col-md-3 col-sm-5 bubble">
                <a href="case_manager"><i class="fa fa-street-view"></i></a>
                <h4>Case Manager</h4>
                <p>Case manager hub</p>
            </div>
            
            <div class="col-md-3 col-sm-5 col-sm-offset-1 col-md-offset-0 bubble">
                <a href="case_notes"><i class="fa fa-folder-open-o"></i></a>
                <h4>Case Notes</h4>
                <p>Access all case notes and related documents</p>
            </div>

            <div class="col-md-3 bubble">
                <a href="add_client"><i class="fa fa-user-plus"></i></a>
                <h4>Add a client</h4>
                <p>Add a new youth</p>
            </div>
        </div>
        <div class="space"></div>
        <!-- <div class="row">
          <div class="col-md-3 col-sm-5 bubble">
              <a href="outreach"><i class="fa fa-send-o"></i></a>
              <h4>Outreach</h4>
              <p>All things outreach</p>
          </div>
        </div> -->
      </div>
    </div>

    {% include "components/_basescript.html" %}
    {% include "components/_footer.html" %}