{% include "components/_header.html" %}

  <div class="container">

    {% include "components/_navbar.html" %}

    <div>
      <h2>SPY Login</h2>
    </div>


    <div>
      <form method="post" action="/login">

        <div class="input-filed col s6">
          <label for="username">USERNAME</label>
          <input type="text" class="validate" placeholder="username" name="username" id="username">
        </div>

        <div class="input-filed col s6">
          <label for="password">PASSWORD</label>
          <input type="password" class="validate" placeholder="password" name="password" id="password">
        </div>
        
        <button type="submit">Login</button>

      </form>
    </div>

  </div>

{% include "components/_basescript.html" %}

<script type="text/babel" src="static/js/login.js"></script>

{% include "components/_footer.html" %}