{% include "components/_header.html" %}
{% include "components/_navbar.html" %}
<div class="row">
  <div class="col-lg-12">
    <table id="followups" class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>Note</th>
          <th>Client</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>7/20/2017</td>
          <td>Test</td>
          <td>John Doe</td>
          <td>Office</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include "components/_basescript.html" %}

<script src="/static/js/profile.js"></script>

{% include "components/_footer.html" %}