{% include "components/_header.html" %}

  <!-- make this header highlight the frontdesk selection -->
  {% include "components/_navbar.html" %}
  <div class="row pt-1">
    <div id="navigation" class="col-sm-3 col-lg-2">
      <nav class="side-nav">
        <ul id="options">
          <li class="account link selected"><a href="#account-settings">Account</a></li>
          <li class="notifications link"><a href="#notifications-settings">Notifications</a></li>
          <li class="client-profile link"><a href="#client-profile-settings">Client Profiles</a></li>
          <li class="create-activity link"><a href="#create-new-activity">Create New Activity</a></li>
          <li class="import-data link"><a href="#import-data-settings">Import Data</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">
      <div class="row">
        <div id="account-settings">
          <div class="card">
            <div class="card-header">
              <h4>
                Change Password
              </h4>
            </div>
            <form>
              <dl>
                <dt>Current Password</dt>
                <dd><input id="current-password" type="password" class="form-control"></dd>
              </dl>
              <dl>
                <dt>New Password</dt>
                <dd><input id="new-password" type="password" class="form-control"></dd>
              </dl>
              <dl>
                <dt>Confirm New Password</dt>
                <dd><input id="confirm-new-password" type="password" class="form-control"></dd>
              </dl>
              <p>
                <button id="update-button" class="btn btn-outline-primary">Update Password</button>
                <span><a href="#">I forgot my password</a></span>
              </p>
              <p id="status"></p>
            </form>
          </div>
        </div>

        <div id="notifications-settings" class="hidden">
          <div id="flag-notifications">
            <div class="card">
              <div class="card-header">
                <h4>
                  Flag Notifications
                </h4>
                <p>Determine which flags you would like to receive alerts for.</p>
              </div>
              <table class="table table-hover" id="flag-notifications-table">
                <tbody>
                
                </tbody>
              </table>
            </div>
          </div> <!-- Flag Notificaitons -->
        </div>

        <div id="create-new-activity" class="hidden">
          <div id="create-activity">
            <div class="card">
              <div class="card-header">
                <h4>
                  Create New Activity
                </h4>
                <p>Determine which flags you would like to receive alerts for.</p>
              </div>
              <div>
                Activity Name: <input type="text" id="createActivityName"> <br>
                Location: <input type="text" id="createActivityLocation">  <br>
                Start Time: <input type="text" id="createActivityStart" data-format="h:mm a" data-template="hh : mm a" name="datetime" value="12:00 am"> <br>
                End Time: <input type="text" id="createActivityEnd" data-format="h:mm a" data-template="hh : mm a" name="datetime" value="12:00 am"> <br>
                Program: 
                <select id="createActivityPrograms" name="programs" value="select">
                  <option value="0">Select a Program</option>
                </select> <br>
                <span class="activityWarning warning hidden">Your activity must have a name, location, and program.</span>
              </div>
              <div>
                <button type="button" class="btn btn-primary" id="createactivity-modal-save-button">Submit</button>
              </div>
              </div>
            </div>
          </div> <!-- Flag Notificaitons -->
        </div>

        <div id="import-data-settings" class="hidden">
          <div id="import-data">
            <div class="card">
              <div class="card-header">
                <h4>
                  Import Data
                </h4>
                <p>Import a spreadsheet into the database.</p>
              </div>
              <div class="uploadOptions">
                  Upload a file. File must be in .xlsx format (for now). <br>
                  <input type='file' name='uploadSpreadsheet' id='uploadSpreadsheet' accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'> <br>
                  <select value="0" id="uploadSpreadsheetSelect">
                    <option value="0">Select a Spreadsheet Type</option>
                    <!--<option value="1">Case Management Caseload</option>
                    <option value="2">Housed Youth Excel Document</option>
                    <option value="3">Return Home Tracker</option>
                    <option value="4">Backpack and Sleeping Bag Wait List</option>
                    <option value="5">Drop-In Data</option>
                    <option value="6">Front Desk Appointments</option>
                    <option value="7">Shower Sign-Up</option>-->
                    <option value="8">Youth Master List</option>
                    <!--<option value="9">Outreach Daily Stats</option>-->
                  </select> <br>
                  <input type="button" value="Submit" id='submitSpreadsheet'>
              </div>
            </div>
          </div> <!-- Flag Notificaitons -->
        </div>

        <div id="client-profile-settings" class="hidden">
          <div class="card">
            <div class="card-header">
              <h4>
                Flags <button type="button" class="btn btn-success" data-toggle="modal" style="float: right;" data-target="#new-flag-modal">Add Flag <i class="fa fa-plus" aria-hidden="true"></i></button>
              </h4>
              <p>Create standard flag types along with their default messages and notes that staff can use to assign to client profiles.</p>
            </div>
            <table class="table table-hover" id="flags-table">
              <thead>
                <tr>
                  <th>Flag Color</th>
                  <th>Flag Type</th>
                  <th>Flag Message</th>
                  <th>Flag Note</th>
                  <th>Settings</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>

  <!--     <div class="card">
            <div class="card-header">
              <h4>
                Flags <button type="button" class="btn btn-success" data-toggle="modal" style="float: right;" data-target="#new-flag-modal">Add New Flag <i class="fa fa-plus" aria-hidden="true"></i></button>
              </h4>
            </div>
            <table class="table table-hover" id="flags-table">
              <thead>
                <tr>
                  <th>Color</th>
                  <th>Type</th>
                  <th>Message</th>
                  <th>Note Example</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div> -->

        </div> <!-- Client Profile Settings -->
      </div>
    </div>

    <div id="react-content">

    </div>
  </div>

    {% include "modals/newflag.html" %}
    {% include "components/_basescript.html" %}
  
    <!-- <script type="text/babel" src="/static/js/settings.js"></script> -->
    <script type="text/babel" src="/static/js/settings.js"></script>
    <script src="/static/js/modals/newflag.js"></script>
    <script src="/static/js/createnewactivity.js"></script>
  
    {% include "components/_footer.html" %}
