<div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        Activities
      </h4>
      <input id="activity-search" type="text" class="form-control form-control-sm" maxlength="128" placeholder="Search" />
      <!-- We need a `dot-pending` class for when the client list is still loading -->
    </div> <!-- panel heading -->
    <table id="activities" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3D-Printing</td>
        </tr>
        <tr>
          <td>Garden Workshop</td>
        </tr>
        <tr>
          <td>Dental</td>
        </tr>
      </tbody>
    </table>
</div> <!-- panel default -->
