<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/plugins/tether.min.js"></script> <!-- tether must be before bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react@15.3.0/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15.3.0/dist/react-dom.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
<script src="static/js/moment.min.js"></script>
<!-- trying out plugins -->
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="static/js/plugins/jquery.hideseek.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script> -->
<!-- <script src="static/js/plugins/datatables.min.js"></script> -->
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js"></script>

<script src="static/js/plugins/bootstrap-multiselect.js"></script>
<script src="https://unpkg.com/react@15/dist/react-with-addons.js"></script>
<script src="static/js/plugins/notify.js"></script>
<script src="static/js/plugins/spectrum.js"></script>
<script src="static/js/plugins/bootstrap-switch.min.js"></script>
<script src="static/js/plugins/combodate.js"></script>
<!-- end plugins -->
<script src="static/js/main.js"></script> <!-- for global variables and functions -->
<script src="static/js/navbar.js"></script>
