<div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        Youth Check-In
      </h4>
      <span class="dot dot-success"></span>
      <div class="input-field col s6">
        <input id="client-search" type="text" class="validate" maxlength="128" placeholder="Search" />
        <label for="client-search">Client Search</label>
      </div>
    </div>

    <table id="checkin" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>