<div class="card">
    <div class="card-header">
      <h4>
        Client Profiles
      </h4>
      <a href="add_client"><h5>Add Client</h5></a>
      <input id="client-search" type="text" class="form-control form-control-sm" maxlength="128" placeholder="Search Clients" />
      <!-- We need a `dot-pending` class for when the client list is still loading -->
    </div> <!-- card header -->
    <table id="clients" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="okay-dot bullet"></span>Steven Brown</td>
        </tr>
        <tr>
          <td><span class="okay-dot bullet"></span>John Doe</td>
        </tr>
        <tr>
          <td><span class="vulnerable-dot bullet"></span>Megan McMire</td>
        </tr>
        <tr>
          <td><span class="missing-dot bullet"></span>Jose Jimenez</td>
        </tr>
        <tr>
          <td><span class="sick-dot bullet"></span>Amy Scott</td>
        </tr>
        <tr>
          <td><span class="missing-dot bullet"></span>Andre Evans</td>
        </tr>
        <tr>
          <td><span class="okay-dot bullet"></span>Alex Sandoval</td>
        </tr>
      </tbody>
    </table>
</div> <!-- card -->
