<div id="accordion" role="tablist" aria-multiselectable="true">

  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#housing-history" aria-expanded="false" aria-controls="housing-history">
          History of Housing Instability
        </a>
      </h5>
    </div>
    <div id="housing-history" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <p><b>Where did you sleep last night?</b></p>
        <ul class="client-info-checkboxes" id="housing-history-checkboxes">
        </ul>
        <p><b>How long have you been sleeping there?</b></p>
        <select id="how-long-sleeping-there"></select>
        <p><b>Approximate date you no longer had stable housing <i>(start date of first episode)</i>:</b></p>
        <p><b>Approximate date of <i>current</i> episode of houselessness began:</b></p>
        <p><b>Approximate length of current episode:</b></p>
        <p><b>Total amount of time houseless in past 3 years?</b></p>
        <p><b>Number of episodes of houselessness in past 3 years:</b></p>
        <select id="number-episodes"></select>
        <p><b>Where did you live before West L.A.?</b></p>
        <p><b>How long have you been in West L.A.?</b></p>
        <p><b>How long have you been in West L.A.?</b></p>
        <p><b>Initial cause(s) of housing instability:</b></p>
        <ul class="client-info-checkboxes" id="initial-causes">
        </ul>
        <p><b>What's keeping you from stable housing?</b></p>
        <ul class="client-info-checkboxes" id="keeping-from-stable-housing">
        </ul>
      </div>
    </div>
  </div> <!-- Card 1 -->

  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#basic-info" aria-expanded="false" aria-controls="basic-info">
          Basic Info
        </a>
      </h5>
    </div>
    <div id="basic-info" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <h4>Gender</h4>
        <p><b>Gender Identity:</b></p>
        <ul class="client-info-checkboxes" id="gender-identity">
        </ul>
        <p><b>Gender Assigned at Birth:</b></p>
        <ul class="client-info-checkboxes" id="gender-assigned">
        </ul>
        <p><b>Preferred pronoun:</b></p>
        <ul class="client-info-checkboxes" id="preferred-pronoun">
        </ul>
        <h4>Racial/Ethnic Background</h4>
        <p><b>Ethnicity:</b></p>
        <ul class="client-info-checkboxes" id="ethnicity">
        </ul>
        <p><b>Race:</b></p>
        <ul class="client-info-checkboxes" id="race">
        </ul>
        <h4>Education</h4>
        <p><b>Some completed:</b></p>
        <ul class="client-info-checkboxes" id="some-education">
        </ul>
        <p><b>Currently Attending:</b></p>
        <ul class="client-info-checkboxes" id="currently-attending">
        </ul>
        <p><b>Graduated:</b></p>
        <ul class="client-info-checkboxes" id="graduated">
        </ul>
        <h4>Language</h4>
        <p><b>First Language:</b></p>
        <select id="first-language"></select>
        <p><b>Preferred Language <i>(other than English)</i>:</b></p>
        <select id="preferred-language"></select>
      </div>
    </div>
  </div> <!-- Card 2 -->

  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Health
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        <h4>Disability</h4>
        <ul id="disability">
        </ul>
        <h4>Pregnancy</h4>
        <p><b>Currently pregnant:</b></p>
        <select id="currently-pregnant"></select>
        <p><b>First pregnancy:</b></p>
        <ul id="first-pregnancy">
        </ul>
        <p><b>Pre-natal care Clinic:</b></p>
        <p><b>Doctor:</b></p>
        <p><b>Trimester:</b></p>
        <select id="trimester"></select>
      </div>
    </div>
  </div> <!-- Card 3 -->

  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Natural Connection
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        


      </div>
    </div>
  </div> <!-- Card 4 -->

  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          SPY Information
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        


      </div>
    </div>
  </div> <!-- Card 5 -->

</div>