    </div>
    <!-- ^close container -->  
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <p>All Rights Reserved || Copyright © 2016 || 310.902.2283 || Safe Place for Youth is a project of Community Partners, a 501c3 non profit organization. Federal Tax ID 95-430-2067</p>

          <ul id="footer-links">
            <li><a href="https://www.facebook.com/SafePlaceForYouth/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/safeplaceforyouth/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/safeplace4youth"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://www.safeplaceforyouth.org/"><i class="fa fa-heart"></i></a></li>
            <li><a href="http://safeplaceforyouth.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCWS_m8dXKhq4zeBJ9udGofA/feed"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="mailto:%20Info@safeplaceforyouth.org"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </span>
      </div>
    </footer>
  </body>

</html>
