      </main>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Safe Place for Youth</h5>
            <p class="grey-text text-lighten-4">Safe Place for Youth is a project of Community Partners, a 501c3 non profit organization.<br>310.902.2283<br>Federal Tax ID 95-430-2067</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Connect</h5>
            <ul id="footer-links">
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/SafePlaceForYouth/"><i class="fa fa-facebook"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/safeplaceforyouth/"><i class="fa fa-instagram"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="https://twitter.com/safeplace4youth"><i class="fa fa-twitter"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.safeplaceforyouth.org/"><i class="fa fa-heart"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="http://safeplaceforyouth.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCWS_m8dXKhq4zeBJ9udGofA/feed"><i class="fa fa-youtube-play"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="mailto:%20Info@safeplaceforyouth.org"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        All Rights Reserved || Copyright © 2016
        <a class="grey-text text-lighten-4 right" href="/">Back to Home</a>
        </div>
      </div>
    </footer>
  </body>

</html>
