 <div class="panel panel-default col-sm-2">
    <div class="panel-heading">
      <h4>
        Intake Needed
      </h4>
      <span class="dot dot-success"></span>
      <input id="client-search" type="text" class="form-control form-control-sm" maxlength="128" placeholder="Search" />
      <!-- We need a `dot-pending` class for when the client list is still loading -->
    </div> <!-- panel heading -->
    <table id="clients" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span id="steven-dot" class="bullet"></span>Steven Brown</td>
        </tr>
        <tr>
          <td><span class="bullet"></span>John Doe</td>
        </tr>
        <tr>
          <td><span class="bullet"></span>Megan McMire</td>
        </tr>
        <tr>
          <td><span id="carlie-dot" class="bullet"></span>Carlie Smith</td>
        </tr>
        <tr>
          <td><span id="mike-dot" class="bullet"></span>Mike Adams</td>
        </tr>
        <tr>
          <td><span class="bullet"></span>Jose Jimenez</td>
        </tr>
        <tr>
          <td><span class="bullet"></span>Amy Scott</td>
        </tr>
        <tr>
          <td><span id="andre-dot" class="bullet"></span>Andre Evans</td>
        </tr>
        <tr>
          <td><span class="bullet"></span>Alex Sandoval</td>
        </tr>
      </tbody>
    </table>
</div> 